.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: var(--spacing-xl);
  background-color: var(--gray-100);
}

.form {
  width: 100%;
  max-width: 400px;
  padding: var(--spacing-2xl);
  background: var(--light);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-lg);
}

.title {
  font-size: var(--font-size-2xl);
  color: var(--gray-900);
  text-align: center;
  margin-bottom: var(--spacing-md);
}

.subtitle {
  text-align: center;
  color: var(--gray-600);
  margin-bottom: var(--spacing-xl);
  font-size: var(--font-size-md);
}

.formGroup {
  margin-bottom: var(--spacing-lg);
}

.formGroup label {
  display: block;
  margin-bottom: var(--spacing-sm);
  color: var(--gray-700);
  font-size: var(--font-size-md);
}

.formGroup input {
  width: 100%;
  /* padding: var(--spacing-md); */
  border: 1px solid var(--gray-300);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-md);
  transition: border-color var(--transition-fast);
  height: 4rem;
  padding-left: 1rem;
}

.formGroup input:focus {
  outline: none;
  border-color: var(--primary);
}

.errorInput {
  border-color: var(--error) !important;
}

.errorMsg {
  color: var(--error);
  font-size: var(--font-size-sm);
  margin-top: var(--spacing-xs);
}

.submitBtn {
  width: 100%;
  /* padding: var(--spacing-md); */
  background: var(--primary);
  color: var(--light);
  border: none;
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-md);
  font-weight: 600;
  cursor: pointer;
  transition: background var(--transition-fast);
  margin-bottom: var(--spacing-md);
  height: 4rem;
}

.submitBtn:hover:not(:disabled) {
  background: var(--primary-dark);
}

.submitBtn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.backBtn {
  width: 100%;
  /* padding: var(--spacing-md); */
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-md);
  cursor: pointer;
  transition: all var(--transition-fast);
  height: 4rem;
}

.backBtn:hover {
  background: var(--primary-light);
  color: var(--light);
}

@media (max-width: 768px) {
  .form {
    padding: var(--spacing-xl);
  }
}