.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--light);
  padding: var(--spacing-lg);
}

.loginForm {
  background: white;
  padding: var(--spacing-2xl);
  border-radius: var(--border-radius-xl);
  box-shadow: var(--shadow-lg);
  width: 100%;
  max-width: 40rem;
  transition: var(--transition-normal);
}

.title {
  font-family: var(--font-family);
  font-size: var(--font-size-2xl);
  color: var(--primary-dark);
  margin-bottom: var(--spacing-xl);
  text-align: center;
}

.formGroup {
  margin-bottom: var(--spacing-lg);
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-size: var(--font-size-sm);
  color: var(--gray-700);
  margin-bottom: var(--spacing-xs);
}

.formGroup input {
  padding: var(--spacing-sm);
  border: 1px solid var(--gray-300);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-md);
  transition: var(--transition-fast);
}

.formGroup input:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(42, 109, 192, 0.2);
}

.errorInput {
  border-color: var(--accent);
}

.errorMsg {
  color: var(--accent);
  font-size: var(--font-size-xs);
  margin-top: var(--spacing-xs);
}

.submitBtn {
  width: 100%;
  /* padding: var(--spacing-md); */
  background: var(--primary);
  color: white;
  border: none;
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-md);
  cursor: pointer;
  transition: var(--transition-fast);
  height: 4rem;
  text-align: center;
}

.submitBtn:hover {
  background: var(--primary-dark);
}

.submitBtn:disabled {
  background: var(--primary-light);
  cursor: not-allowed;
}

.registerLink {
  text-align: center;
  font-size: var(--font-size-sm);
  margin-top: var(--spacing-lg);
}

.registerLink a {
  color: var(--secondary);
  text-decoration: none;
}

.registerLink a:hover {
  text-decoration: underline;
}
